.e-movablecontent {
  .frozen {
    display: none;
  }
}

table {
  width: 100% !important;
  td, th {
    border: 1px solid #e0e0e0 !important;

  }
}
.e-rhandler.e-rcursor {
  height: 100% !important;
}

.hidden {
  display: none !important;
}
